.nav-bar { /* ul */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px 5px ;
    margin: 0;
    list-style-type: none;
    /* background-color: rgb(233, 233, 233); */
}

.nav-link { /* ul li */
    margin: 0 8px 0 0;
    padding: 3px 0 3px 0;
    border: solid black 1px;
    border-radius: 2px;
    width: max-content;
    text-decoration : none;
    box-shadow: -2px -2px 5px 0px black;
    background-color: rgb(233, 233, 233);
}

.nav-link a{ /* ul li a */
    text-decoration : none;
    color: crimson;
    padding: 3px;
    font-weight: 600;
}

.btn-save{
    margin-top: 20px;
}

nav{
    background-color: black;
    margin: 0;
    padding: 0;
}